# PostgreSQL
POSTGRES_USER=aqi_user
POSTGRES_PASSWORD=CHANGE_ME
POSTGRES_DB=aqi_db

# MinIO
MINIO_ROOT_USER=minioadmin
MINIO_ROOT_PASSWORD=CHANGE_ME

# Airflow
AIRFLOW_USER=admin
AIRFLOW_PASSWORD=CHANGE_ME
AIRFLOW_FERNET_KEY=CHANGE_ME
AIRFLOW_SECRET_KEY=CHANGE_ME

# Grafana
GRAFANA_USER=admin
GRAFANA_PASSWORD=CHANGE_ME

# Telegram Bot
TELEGRAM_BOT_TOKEN=YOUR_TELEGRAM_BOT_TOKEN
TELEGRAM_CHAT_ID=YOUR_TELEGRAM_CHAT_ID

# OpenAQ API (tidak dipakai lagi — ganti Open-Meteo gratis)
OPENAQ_API_KEY=YOUR_OPENAQ_API_KEY

# Konfigurasi Koneksi Spark ke MinIO & Postgres
MINIO_ENDPOINT=http://minio:9000
MINIO_ACCESS_KEY=minioadmin
MINIO_SECRET_KEY=CHANGE_ME
POSTGRES_URL=jdbc:postgresql://postgres:5432/aqi_db
AIRFLOW_UID=50000
