# Environment & secrets
.env
*.key
*.pem

# Data
data/raw/
data/processed/
mlruns/

# Python
__pycache__/
*.pyc
*.pyo
*.egg-info/
.venv/
venv/
dist/
build/

# Jupyter
.ipynb_checkpoints/
*.ipynb_checkpoints

# Docker volumes (jangan commit)
postgres_data/
minio_data/
grafana_data/

# OS
.DS_Store
Thumbs.db

# IDE
.vscode/
.idea/
*.swp
